*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0 auto;
  max-width: 80rem;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: beige;
}

.header {
  min-width: 100%;
  text-align: center;
}

.header__title {
  font-size: 4.6rem;
}

.converter__output {
  font-size: 2rem;
}
